:root {
  --formBG: rgba(25, 116, 146, 0.584);
  --CVBG: rgb(236, 236, 236);
  --dark: rgba(0, 13, 30, 0.938);
  --light: #ffffff;
  --primary: #4b4e6d;
  --secondary: #60b3e0;
  --tertiary: rgba(255, 255, 255, 0.306);
}

* {
  margin: 0;
}

body {
  background-color: var(--CVBG);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  height: calc(100dvh - 4rem);
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-color: var(--dark);
  color: var(--light);

  overflow-y: scroll;
  transition: opacity 0.3s, width 0.3s;

  width: 495px;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--secondary);
  }

  &::-webkit-scrollbar-track {
    background: var(--tertiary);
  }
}

.formSection-exit,
.formSection-enter {
  opacity: 0;
  width: 0%;
}

.formSection-enter.active {
  opacity: 1;
  width: 30%;
}

.sidebarHeader {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.sidebarHeader > button {
  border-radius: 5px;
  border: 0px;
  width: 3rem;
  height: 2.5rem;
  background-color: var(--secondary);
  cursor: pointer;
}

.CVSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100dvh;
  flex-grow: 1;
  background-color: var(--CVBG);
  overflow-y: scroll;
}

.sidebarIcon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.sidebarIcon:hover {
  color: var(--light);
}

.editButton,
.pdfButton {
  border-radius: 5px;
  border: 0px;
  width: 3rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.editIcon,
.pdfIcon {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: all 0.1s ease;
  color: var(--primary);
}

.editIcon:hover,
.pdfIcon:hover {
  color: var(--secondary);
}
