.cvContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100dvh;
  margin: 1rem;
}

@media print {
  .cvPaper {
    width: 210mm; /* A4 width */
    height: 297mm; /* A4 height */
    /* other styles to adjust padding, margins, etc. */
  }
}

.cvPaper {
  background-color: white;
  width: 40vw;
  width: 210mm;
  height: 297mm;
}

.workItem > h4 {
  word-wrap: break-word;
  width: 100%;
}

.generalSectionCV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
  background-color: var(--secondary);
}

.educationSectionCV {
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}

.educationItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-width: 300px;
  width: 55%;
  gap: 0.4rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.workSectionCV {
  margin-top: 1rem;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
}

.workItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  min-width: 300px;
  padding-bottom: 0.5rem;
  gap: 0.4rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}
