.formContainer {
  width: 80%;
  padding: 0.5rem;
  border-radius: 5px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid var(--tertiary);
}

.formItemRow {
  display: flex;
  justify-content: space-between;
}

.formItemRow > button {
  width: 20%;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.deleteIcon {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  opacity: 0.6;
  color: red;
  transition: all 0.15s ease;
}

.deleteIcon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.deleteIcon:active {
  opacity: 0.5;
  transform: scale(0.9);
}

.newItemForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: var(--tertiary);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  color: var(--dark);
}

.newItemForm > button {
  width: 20%;
  border: 0px;
  background-color: transparent;
}

.addIcon {
  color: var(--secondary);
  opacity: 0.8;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: all 0.15s ease;
}

.addIcon:hover {
  opacity: 1;
  transform: scale(1.2);
}

.addIcon:active {
  opacity: 0.5;
  transform: scale(0.9);
}

.newItemFormRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

label {
  cursor: pointer;
  margin-left: 5px;
}

.newFormInput {
  width: 50%;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: 1px solid var(--tertiary);
}

.newFormInput:focus {
  border: 1px solid var(--primary);
}

.hideIcon {
  color: var(--secondary);
  opacity: 0.8;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: all 0.15s ease;
}

.showIcon {
  color: var(--tertiary);
  opacity: 0.8;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: all 0.15s ease;
}

.hideIcon:hover,
.showIcon:hover {
  opacity: 1;
  transform: scale(1.2);
}

.hideIcon:active,
.showIcon:active {
  opacity: 0.5;
  transform: scale(0.9);
}
