.themeFormContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 125%;
  margin-left: -12.5%;
}

.themeFormContainer > h2 {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.themeFormRow > button {
  border-radius: 5px;
  border: 0px;
  width: 3rem;
  height: 2.5rem;
  background-color: var(--secondary);
  cursor: pointer;
}

.sidebarIcon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.sidebarIcon:hover {
  color: var(--light);
}

.darkModeIcon {
  color: var(--dark);
}

.lightModeIcon {
  color: var(--light);
}

.themeFormRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.themeFormRow > label {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}

.themeFormRow > input {
  height: 3rem;
  width: 3rem;
}

input[type='color'] {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
  padding: 0;
  border: 0px;
  background-color: var(--secondary);
  color: var(--text-color);
  cursor: pointer;
}

select {
  height: 3rem;
  width: auto;
  border-radius: 5px;
  border: 0px;
  background-color: var(--secondary);
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

select > option {
  background-color: var(--secondary);
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}
