.workFormContainer{
    width: 80%;
    border: 1px solid black;
    padding: .5rem;
}

.workFormItem{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
    background-color: rgba(0, 255, 255, 0.104);
    padding: .5rem;
}

.workFormItemRow{
    display: flex;
    justify-content: space-between;
    
}

.workFormItemRow>button{
    border-radius: 5px;
    background-color: rgb(172, 20, 20);
}

.workFormItemRow>button:hover{
    cursor: pointer;
    background-color: rgba(172, 20, 20, 0.335);
}

.workFormItemRow>button:active{
    cursor: pointer;
    background-color: rgba(255, 0, 0)
}



.newWorkItemForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.newItemFormRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.label{
    cursor: pointer;
}

.newWorkFormInput{
    width: 35%;
}

